section {
  background-color: rgb(187, 35, 57);
}
section .section-about-flex {
  display: flex;
  align-items: 0;
  justify-content: space-between;
  gap: 0;
  padding: 80px, 0, 237px, 0;
}
@media (max-width: 1100px) {
  section .section-about-flex {
    display: block;
  }
}
section .section-about-flex .section-about-left p {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);
  padding-top: 144px;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left p {
    display: flex;
    justify-content: center;
  }
}
section .section-about-flex .section-about-left h1 {
  font-family: "Open Sans";
  font-size: 70px;
  font-weight: 700;
  line-height: 117px;
  color: rgb(255, 255, 255);
  max-width: 555px;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left h1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 690px) {
  section .section-about-flex .section-about-left h1 {
    font-size: 50px;
    line-height: 70px;
  }
}
section .section-about-flex .section-about-left h4 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: rgb(255, 255, 255);
  max-width: 453px;
  padding: 20px 0 40px;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left h4 {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
}
section .section-about-flex .section-about-left .btn-section {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(255, 255, 255);
  width: 173px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: rgb(255, 255, 255) solid 1px;
  background-color: rgb(187, 35, 57);
  cursor: pointer;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left .btn-section {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-right {
    display: flex;
    justify-content: center;
  }
}
section .section-about-flex .section-about-right img {
  max-width: 824px;
  display: flex;
  padding: 80px 0 237px;
}
@media (max-width: 1320px) {
  section .section-about-flex .section-about-right img {
    width: 600px;
  }
}
@media (max-width: 690px) {
  section .section-about-flex .section-about-right img {
    display: flex;
    padding: 0, 20px;
    width: 100%;
  }
}

aside {
  background-color: rgb(248, 248, 248);
}
aside h1 {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  color: rgb(187, 35, 57);
  padding-top: 120px;
}
aside .btn-logotip {
  display: flex;
  justify-content: end;
}
aside .btn-logotip img {
  position: relative;
  top: 40px;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx {
  display: flex;
  justify-content: center;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card {
  max-width: 280px;
  margin: 0 20px;
  border: none;
  border-radius: 14px;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card .card-body h5 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(36, 36, 36);
  text-align: center;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card .card-body img {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card .card-body .btn-sent {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card .card-body .btn-sent a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(187, 35, 57);
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card:hover h5 {
  color: white;
}
aside .carousel .carousel-inner .carousel-item .carusel-felx .card:hover .btn-sent a {
  color: white;
}
aside .carousel .carousel-inner .card:hover {
  background-color: rgb(187, 35, 57);
  transition: 1s;
  cursor: pointer;
}
aside .carousel .carousel-control-prev h1 {
  position: relative;
  bottom: 280px;
  left: 1000px;
  padding: 5px 10px;
  border: rgb(187, 35, 57) solid 1px;
}
aside .carousel .carousel-control-next h1 {
  position: relative;
  bottom: 280px;
  right: 20px;
  padding: 5px 10px;
  border: rgb(187, 35, 57) solid 1px;
}