section {
  background-color: rgb(187, 35, 57);
}
section .section-about-flex {
  display: flex;
  align-items: 0;
  justify-content: space-between;
  gap: 0;
  padding: 80px, 0, 237px, 0;
}
@media (max-width: 1100px) {
  section .section-about-flex {
    display: block;
  }
}
section .section-about-flex .section-about-left p {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(255, 255, 255);
  padding-top: 144px;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left p {
    display: flex;
    justify-content: center;
  }
}
section .section-about-flex .section-about-left h1 {
  font-family: "Open Sans";
  font-size: 70px;
  font-weight: 700;
  line-height: 117px;
  color: rgb(255, 255, 255);
  max-width: 555px;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left h1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 690px) {
  section .section-about-flex .section-about-left h1 {
    font-size: 50px;
    line-height: 70px;
  }
}
section .section-about-flex .section-about-left h4 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: rgb(255, 255, 255);
  max-width: 453px;
  padding: 20px 0 40px;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left h4 {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
}
section .section-about-flex .section-about-left .btn-section {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(255, 255, 255);
  width: 173px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: rgb(255, 255, 255) solid 1px;
  background-color: rgb(187, 35, 57);
  cursor: pointer;
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-left .btn-section {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  section .section-about-flex .section-about-right {
    display: flex;
    justify-content: center;
  }
}
section .section-about-flex .section-about-right img {
  max-width: 824px;
  display: flex;
  padding: 80px 0 237px;
}
@media (max-width: 1320px) {
  section .section-about-flex .section-about-right img {
    width: 600px;
  }
}
@media (max-width: 690px) {
  section .section-about-flex .section-about-right img {
    display: flex;
    padding: 0, 20px;
    width: 100%;
  }
}

aside {
  background-color: rgb(248, 248, 248);
}
aside h1 {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  color: rgb(187, 35, 57);
  padding-top: 120px;
}
aside .owl-carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
aside .owl-carousel .single-carusel {
  background-color: rgb(255, 255, 255);
  height: 500px;
  border-radius: 15px;
}
aside .owl-carousel .single-carusel a img {
  max-width: 300px;
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
}
aside .owl-carousel .single-carusel p {
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(36, 36, 36);
  text-align: center;
  padding: 20px 10px;
}
aside .owl-carousel .single-carusel .star-img {
  display: flex;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
aside .owl-carousel .single-carusel h2 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(187, 35, 57);
  text-align: center;
  padding-top: 10px;
}
aside .owl-carousel .single-carusel:hover {
  background-color: rgb(187, 35, 57);
  transition: 1s;
}
aside .owl-carousel .single-carusel:hover p {
  color: white;
}
aside .owl-carousel .single-carusel:hover h2 {
  color: wheat;
}
aside .btn-logotip {
  display: flex;
  justify-content: end;
}
aside .btn-logotip img {
  position: relative;
  top: 40px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  margin: auto;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: 0;
  transform: translateY(-50%);
}

.owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: 0;
  transform: translateY(-50%);
}

.owl-prev {
  float: left;
  font-size: 48px;
  line-height: 48px;
}

.owl-next {
  float: right;
  font-size: 48px;
  line-height: 48px;
}

.owl-prev:hover,
.owl-next:hover {
  color: #0a93d4;
}

.aside-end h1 {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  color: rgb(187, 35, 57);
  padding: 120px 0 60px;
}
.aside-end .nav {
  display: flex;
  justify-content: space-between;
  white-space: wrap;
}
.aside-end .nav-pills .show.nav-link {
  color: black;
}
.aside-end .nav-pills .nav-link.active,
.aside-end .nav-pills .show.nav-link {
  color: rgb(255, 255, 255);
  background-color: rgb(187, 35, 57);
}
.aside-end .nav-pills .nav-link {
  border-radius: 100px;
  border: rgb(187, 35, 57) solid 1px;
}
.aside-end .nav-link {
  display: block;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(36, 36, 36);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.aside-end .nav-link:hover {
  color: black;
}
.aside-end .tab-content .tab-pane {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}
.aside-end .tab-content .tab-pane .card {
  width: 310px;
  height: 366px;
  border-radius: 14px;
  margin-top: 20px;
}
.aside-end .tab-content .tab-pane .card img {
  width: 270px;
  display: flex;
  margin: 0 auto;
}
.aside-end .tab-content .tab-pane .card-text {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(36, 36, 36);
  text-align: center;
}
.aside-end .tab-content .tab-pane .btn {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(187, 35, 57);
  display: flex;
  padding: 30px 97px 0 97px;
}
.aside-end .card:hover {
  box-shadow: 10px 20px 50px 10px rgb(187, 35, 57);
  transition: 1s;
  cursor: pointer;
}

.aside-next {
  background-color: rgb(244, 244, 244);
}
.aside-next h5 {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(36, 36, 36);
  text-align: center;
  padding: 100px 0 8px;
}
.aside-next img {
  display: flex;
  margin: 0 auto;
}
.aside-next h1 {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: rgb(36, 36, 36);
  text-align: center;
  padding: 8px 0 60px;
}
.aside-next .owl-carousel .item {
  max-width: 410px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.aside-next .owl-carousel .item h1 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  color: rgb(36, 36, 36);
  text-align: start;
  padding: 30px 0 0 20px;
}
.aside-next .owl-carousel .item p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(36, 36, 36);
  padding: 10px 50px 0 20px;
}
.aside-next .owl-carousel .item img {
  max-width: 215px;
  height: 16px;
  display: flex;
  margin-left: 0;
  margin: 10px 0 0 20px;
}
.aside-next .logo-animation {
  display: flex;
  justify-content: end;
  padding-top: 120px;
}
.aside-next .logo-animation img {
  display: flex;
  margin-right: 0;
}

.news-bg h2 {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(36, 36, 36);
  text-align: center;
  padding: 120px 0 8px;
}
.news-bg img {
  display: flex;
  margin: 0 auto;
}
.news-bg h1 {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 500;
  line-height: 63px;
  color: rgb(187, 35, 57);
  text-align: center;
}
.news-bg .cards {
  display: grid;
  grid-template-columns: auto auto auto;
}
.news-bg .cards .card {
  width: 410px;
  height: 584px;
  border-radius: 14px;
  margin-top: 30px;
}
.news-bg .cards .card img {
  width: 100%;
}
.news-bg .cards .card h5 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: rgb(36, 36, 36);
  text-transform: capitalize;
  padding: 20px 0 10px 20px;
}
.news-bg .cards .card .card-text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(170, 170, 170);
  padding: 0 29px 0 20px;
}
.news-bg .cards .card .btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
}
.news-bg .cards .card .btn-card a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(187, 35, 57);
}
.news-bg .cards .card .btn-card p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(170, 170, 170);
}
.news-bg .news-btn-link {
  display: flex;
  justify-content: center;
  margin: 58px 0 128px;
}
.news-bg .news-btn-link button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(36, 36, 36);
  display: flex;
  padding: 8px 32px;
  border: rgb(187, 35, 57) solid 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.modal-bg {
  background-image: url(../../img/modal.svg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-bg .modal-body {
  width: 500px;
  height: 350px;
}
.modal-bg .btn {
  border-radius: 50%;
  border: none;
  display: flex;
  margin: 0 auto;
  margin-top: 322px;
}