@use "../utils/mixin" as mxn;
@use "../utils/variables" as var;

section {
  background-color: var.$red-color;
  .section-about-flex {
    @include mxn.flex(0, space-between, 0);
    padding: 80px, 0, 237px, 0;
    @media (max-width: 1100px) {
      display: block;
    }
    .section-about-left {
      p {
        @include mxn.family("Open Sans", 23px, 700, 30px, var.$text-color);
        padding-top: 144px;
        @media (max-width: 1100px) {
          display: flex;
          justify-content: center;
        }
      }
      h1 {
        @include mxn.family("Open Sans", 70px, 700, 117px, var.$text-color);
        max-width: 555px;
        @media (max-width: 1100px) {
          display: flex;
          margin: 0 auto;
          text-align: center;
        }
        @media (max-width: 690px) {
          font-size: 50px;
          line-height: 70px;
        }
      }
      h4 {
        @include mxn.family("Open Sans", 16px, 300, 28px, var.$text-color);
        max-width: 453px;
        padding: 20px 0 40px;
        @media (max-width: 1100px) {
          display: flex;
          margin: 0 auto;
          text-align: center;
        }
      }
      .btn-section {
        @include mxn.family("Open Sans", 16px, 600, 28px, var.$text-color);
        width: 173px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: var.$text-color solid 1px;
        background-color: var.$red-color;
        cursor: pointer;
        @media (max-width: 1100px) {
          display: flex;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    .section-about-right {
      @media (max-width: 1100px) {
        display: flex;
        justify-content: center;
      }
      img {
        max-width: 824px;
        display: flex;
        padding: 80px 0 237px;
        @media (max-width: 1320px) {
          width: 600px;
        }
        @media (max-width: 690px) {
          display: flex;
          padding: 0, 20px;
          width: 100%;
        }
      }
    }
  }
}
aside {
  background-color: var.$bg-color;
  h1 {
    @include mxn.family("Open Sans", 48px, 500, 48px, var.$red-color);
    padding-top: 120px;
  }

  .btn-logotip {
    display: flex;
    justify-content: end;
    img {
      position: relative;
      top: 40px;
    }
  }
  .carousel {
    .carousel-inner {
      .carousel-item {
        .carusel-felx {
          display: flex;
          justify-content: center;
          .card {
            max-width: 280px;
            margin: 0 20px;
            border: none;
            border-radius: 14px;

            .card-body {
              h5 {
                @include mxn.family(
                  "Open Sans",
                  18px,
                  400,
                  25px,
                  var.$color-black
                );
                text-align: center;
              }
              img {
                display: flex;
                margin: 0 auto;
                padding: 20px 0;
              }
              .btn-sent {
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                a {
                  text-decoration: none;
                  @include mxn.family(
                    "Open Sans",
                    24px,
                    700,
                    32px,
                    var.$red-color
                  );
                }
              }
            }
          }
          .card:hover h5 {
            color: white;
          }
          .card:hover .btn-sent a {
            color: white;
          }
        }
      }
      .card:hover {
        background-color: var.$red-color;
        transition: 1s;
        cursor: pointer;
      }
    }
    .carousel-control-prev {
      h1 {
        position: relative;
        bottom: 280px;
        left: 1000px;
        padding: 5px 10px;
        border: var.$red-color solid 1px;
      }
    }
    .carousel-control-next {
      h1 {
        position: relative;
        bottom: 280px;
        right: 20px;
        padding: 5px 10px;
        border: var.$red-color solid 1px;
      }
    }
  }
}
