$red-color: rgba(187, 35, 57, 1);
$bg-color: rgba(248, 248, 248, 1);
$text-color: rgba(255, 255, 255, 1);
$color-black: rgba(36, 36, 36, 1);
$hov-color: rgba(51, 51, 51, 1);
$lorem-color:rgba(170, 170, 170, 1);